vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|01 Feb 2019 19:20:57 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|ia\\ project\\ (almine)/pages/About.html ia\\ project\\ (almine)/index.html IA\\ Project\\ -\\ Copy/index.html ia\\ project\\ (almine)/pages/LogIn.html ia\\ project\\ (almine)/pages/Blog.html
vti_author:SR|NORTHSTARCHARTE\\arosamartin
vti_modifiedby:SR|NORTHSTARCHARTE\\arosamartin
vti_timecreated:TR|17 Dec 2018 17:24:28 -0000
vti_nexttolasttimemodified:TW|01 Feb 2019 19:20:57 -0000
vti_cacheddtm:TX|01 Feb 2019 19:20:57 -0000
vti_filesize:IR|3684
vti_syncofs_10.200.3.228\:21:TW|05 Feb 2019 20:04:07 -0000
vti_syncwith_10.200.3.228\:21:TX|01 Feb 2019 19:20:57 -0000
